@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding :0;
    box-sizing: border-box;
}

body{
    height :100%;
    background-image: url("img/asset/bg2.png");
}


#login {
    background-image: url("img/asset/bg2.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signin {
    background-image: url("img/asset/bg2.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile {
    background-image: url("img/asset/bg2.png");
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    height: 100px;
    width: 100px;
    padding-left: 100%;
}
.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.login-form{
    width: 500px;
    height: 550px;
    padding: 30px;
    background-color: #ffffff !important;
    border-radius: 5px !important;
}

.signin-form{
    width: 500px;
    height: 700px;
    padding: 30px;
    background-color: #ffffff !important;
    border-radius: 5px !important;
}

.profile-form{
    width: 500px;
    height: 650px;
    padding: 30px;
    background-color: #ffffff !important;
    border-radius: 5px !important;
}

.form-form{
    width: 650px;
    height: 700px;
    padding: 30px;
    background-color: #ffffff !important;
    border-radius: 5px !important;
}

.medsos ul li {
    display: inline-block;
    margin-right: 10px;
}

input[type="fullname"],
input[type="alamat"],
input[type="email"],
input[type="password"],
input[type="daritanggal"],
input[type="selesaitanggal"]{
    background-color: #A9A9A9;
    color: #000000;
    border: 2px solid #696969;
    border-radius: 30px !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type="fullname"]:focus,
input[type="alamat"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
input[type="daritanggal"]:focus,
input[type="selesaitanggal"]:focus{
    outline: none;
    border: none;
    background-color: #A9A9A9;
    color: #000000;
}

.card-title{
    font-weight: 500;
    padding: 20px;
}

.btn{
    background: #000000;
    color: #ffffff;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 800;
}

h5 {
    font-size: 1.1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color:#D8D8D8
    ;
}

button{
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 5px 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3 ease;
}

button:hover{
    background-color: #3a3833;

}

.navbar {
    font-size: 16px;
    background-color: black;
}

.topnav-centered h1 {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: white;
  }

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: white;
    transition: 0.3s ease;
    position: relative;
    z-index: 0;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color: coral;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

#home {
    background-image: url("img/asset/bgfix.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#bg {
    background-image: url("img/asset/bg2.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#booking {
    background-image: url("img/asset/bg1.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#aboutus {
    background-image: url("img/asset/About\ us.png");
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

